---
layout: default
---
<article id="main">

  <header>
    <h2>{{ let's listening }}</h2>
    <p>Mendengarkan musik memiliki beberapa manfaat, diantaranya dapat meningkatkan mood dan suasana hati, membantu lebih fokus, 
    dan dapat melepaskan stres.</p>
    <p>Karena banyak manfaat yang kita dapatkan dengan mendengarkan musik, kami membuat halaman ini khusus untuk memutarkan musik.</p>
    <p>Semoga bermanfaat dan selamat mendengarkan</p>
  </header>

  <section class="wrapper style5">
    <div class="inner">
      {{ content }}
    </div>
  </section>

</article>
